# Nombre del flujo de trabajo de prueba
name: TEST - Probar instalación de Oculus CLI (v3)

on:
  workflow_dispatch:

jobs:
  test-install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (Requerido por el runner)
        uses: actions/checkout@v4

      # --- ¡AQUÍ ESTÁ LA PRUEBA REAL! ---
      # Usamos la acción de la comunidad para instalar la CLI
      - name: Setup ovr-platform-util
        uses: RageAgainstThePixel/setup-ovr-platform-util@v1
       

      # Verificamos que se instaló corriendo el comando 'version'
      - name: Verify Install
        run: ovr-platform-util version